.leg-full-screen-width {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.leg-full-content {
    width:1024px; margin-left:auto; margin-right:auto;
    height:68px;
    background-color: #fff;
}
@media screen and (min-width: 1000px) /* desktop */
{
    .leg-h3 {
        font-size: 18px;
        background-color: #fff;
        font-weight: normal;
    }
    .leg-h3-desktop {
        display: inline;
    }
    .leg-h3-mobile {
        display: none;
    }
}
@media screen and (max-width: 1000px) /* mobile */
{
    .leg-full-content {
        width:100%; margin-left:auto; margin-right:auto;
    }
    .leg-h3 {
        font-size: 15px;
        font-weight: normal;
    }
    .leg-h3-desktop {
        display: none;
    }
    .leg-h3-mobile {
        display: inline;
    }
}
//@media screen and (max-width: 930px) {
//    .leg-full-content {
//        width:930px; margin-left:auto; margin-right:auto;
//    }
//
//}
footer {
    color: #905d5c;font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}
