.leg-full-screen-width {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.leg-full-content {
    width:1024px; margin-left:auto; margin-right:auto;
    height:68px;
    background-color: #fff;
}
@media screen and (max-width: 1024px) {
    .leg-full-content {
        width:100%; margin-left:auto; margin-right:auto;
    }

}
@media screen and (max-width: 930px) {
    .leg-full-content {
        width:930px; margin-left:auto; margin-right:auto;
    }

}
footer {
    color: #905d5c;font-family: Microsoft JhengHei, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}
.leg-h3 {
    font-size: 18px;
    background-color: #fff;
}