<div class="head-full-screen-width" style="">
    <div class="head-full-content" style="">
        <img src="../images/410.svg" alt="410還權於民·重返立院" id="410logo" style="" class="head-img"/>
        <header class="head-header" style="">
            <ul class="head-ul" style="">
                <a href="../action/"><li class="head-nav-full-top head-nav-action-li" style="background-color: #6c2626;color: #ffffff;"><h1 class="head-nav-h1" style="">我們的行動</h1></li></a>
                <a href="../claim/"><li class="head-nav-full-top head-nav-claim-li" style=""><h1 class="head-nav-h1" style="">我們的訴求</h1></li></a>
                <a href="../statement/"><li class="head-nav-full-top head-nav-statement-li" style="margin-left: 0px;"><h1 class="head-nav-h1" style="">行動聲明</h1></li></a>
            </ul>
        </header>
        <header class="head-header" style="">
            <ul class="head-ul" style="">
                <a href="../people/"><li class="head-nav-full-bottom head-nav-people-li" style=""><img class="head-nav-img" src="../images/people.svg"
                                                                                                       alt="公民聲援牆"/></li></a>
                <a href="../alias/"><li class="head-nav-full-bottom head-nav-alias-li" style=""><img class="head-nav-img" src="../images/alias.svg"
                                                                                                     alt="立委表態牆"/></li></a>
                <a href="../flyingv/"><li class="head-nav-full-bottom head-nav-flyingV-li" style=""><img class="head-nav-img" src="../images/flyingV.svg"
                                                                                                         alt="flyingV"/></li></a>
            </ul>
        </header>

    </div>
</div>
